[submodule "zsh/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.config/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.config/zsh/plugins/zsh-autosuggestions"]
	path = zsh/.config/zsh/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.config/zsh/plugins/fzf"]
	path = zsh/.config/zsh/plugins/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "nvim/.config/nvim/pack/modules/opt/fzf.vim"]
	path = nvim/.config/nvim/pack/modules/opt/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "nvim/.config/nvim/pack/modules/opt/editorconfig-vim"]
	path = nvim/.config/nvim/pack/modules/opt/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-fugitive"]
	path = nvim/.config/nvim/pack/modules/opt/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-ripgrep"]
	path = nvim/.config/nvim/pack/modules/opt/vim-ripgrep
	url = git@github.com:jremmen/vim-ripgrep.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-tmux-navigator"]
	path = nvim/.config/nvim/pack/modules/opt/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "nvim/.config/nvim/pack/modules/opt/undotree"]
	path = nvim/.config/nvim/pack/modules/opt/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-which-key"]
	path = nvim/.config/nvim/pack/modules/opt/vim-which-key
	url = git@github.com:liuchengxu/vim-which-key.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-gitgutter"]
	path = nvim/.config/nvim/pack/modules/opt/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "nvim/.config/nvim/pack/modules/opt/nerdcommenter"]
	path = nvim/.config/nvim/pack/modules/opt/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "nvim/.config/nvim/pack/modules/opt/spelunker"]
	path = nvim/.config/nvim/pack/modules/opt/spelunker
	url = git@github.com:kamykn/spelunker.vim.git
[submodule "nvim/.config/nvim/pack/modules/opt/chadtree"]
	path = nvim/.config/nvim/pack/modules/opt/chadtree
	url = git@github.com:ms-jpq/chadtree.git
[submodule "nvim/.config/nvim/pack/modules/opt/auto-pairs"]
	path = nvim/.config/nvim/pack/modules/opt/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "nvim/.config/nvim/pack/modules/opt/ale"]
	path = nvim/.config/nvim/pack/modules/opt/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "nvim/.config/nvim/pack/modules/opt/nvim-lspconfig"]
	path = nvim/.config/nvim/pack/modules/opt/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "nvim/.config/nvim/pack/modules/opt/lsp-status"]
	path = nvim/.config/nvim/pack/modules/opt/lsp-status
	url = git@github.com:nvim-lua/lsp-status.nvim.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-javascript"]
	path = nvim/.config/nvim/pack/modules/opt/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "nvim/.config/nvim/pack/modules/opt/typescript-vim"]
	path = nvim/.config/nvim/pack/modules/opt/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-jsx-pretty"]
	path = nvim/.config/nvim/pack/modules/opt/vim-jsx-pretty
	url = git@github.com:MaxMEllon/vim-jsx-pretty.git
[submodule "nvim/.config/nvim/pack/modules/opt/completion-nvim"]
	path = nvim/.config/nvim/pack/modules/opt/completion-nvim
	url = git@github.com:nvim-lua/completion-nvim.git
[submodule "nvim/.config/nvim/pack/modules/opt/vim-glsl"]
	path = nvim/.config/nvim/pack/modules/opt/vim-glsl
	url = git@github.com:tikhomirov/vim-glsl.git
[submodule "nvim/.config/nvim/pack/modules/opt/nvim-treesitter"]
	path = nvim/.config/nvim/pack/modules/opt/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "nvim/.config/nvim/pack/modules/opt/nvcode-color-schemes.vim"]
	path = nvim/.config/nvim/pack/modules/opt/nvcode-color-schemes.vim
	url = git@github.com:ChristianChiarulli/nvcode-color-schemes.vim.git
[submodule "nvim/.config/nvim/pack/modules/opt/blue-moon"]
	path = nvim/.config/nvim/pack/modules/opt/blue-moon
	url = https://github.com/kyazdani42/blue-moon
[submodule "nvim/.config/nvim/pack/modules/opt/sonokai"]
	path = nvim/.config/nvim/pack/modules/opt/sonokai
	url = https://github.com/sainnhe/sonokai
[submodule "nvim/.config/nvim/pack/modules/opt/vim-moonfly-colors"]
	path = nvim/.config/nvim/pack/modules/opt/vim-moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors
[submodule "nvim/.config/nvim/pack/modules/opt/vim-nightfly-guicolors"]
	path = nvim/.config/nvim/pack/modules/opt/vim-nightfly-guicolors
	url = https://github.com/bluz71/vim-nightfly-guicolors
[submodule "nvim/.config/nvim/pack/modules/opt/nvim-highlite"]
	path = nvim/.config/nvim/pack/modules/opt/nvim-highlite
	url = https://github.com/Iron-E/nvim-highlite
[submodule "nvim/.config/nvim/pack/modules/opt/completion-buffers"]
	path = nvim/.config/nvim/pack/modules/opt/completion-buffers
	url = https://github.com/steelsojka/completion-buffers
[submodule "nvim/.config/nvim/pack/modules/opt/popup.nvim"]
	path = nvim/.config/nvim/pack/modules/opt/popup.nvim
	url = https://github.com/nvim-lua/popup.nvim
[submodule "nvim/.config/nvim/pack/modules/opt/plenary.nvim"]
	path = nvim/.config/nvim/pack/modules/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/.config/nvim/pack/modules/opt/telescope.nvim"]
	path = nvim/.config/nvim/pack/modules/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/.config/nvim/pack/modules/opt/completion-treesitter"]
	path = nvim/.config/nvim/pack/modules/opt/completion-treesitter
	url = https://github.com/nvim-treesitter/completion-treesitter
[submodule "nvim/.config/nvim/pack/modules/opt/lazygit.nvim"]
	path = nvim/.config/nvim/pack/modules/opt/lazygit.nvim
	url = git@github.com:kdheepak/lazygit.nvim
[submodule "nvim/.config/nvim/pack/modules/opt/nlua.nvim"]
	path = nvim/.config/nvim/pack/modules/opt/nlua.nvim
	url = https://github.com/tjdevries/nlua.nvim
